Repository mari8i/ngx-auth-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

ci: setup continous integration and release workflow (#24)
  .commitlintrc
  .czrc
  .editorconfig
  .github/workflows/continous-integration.yml
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/prepare-commit-msg
  .lintstagedrc
  .prettierrc
  .releaserc
  build_and_deploy.sh
  package-lock.json
  package.json
Due: npm run format

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  f88869cd1072578dd21eff030a344b1a02159d0c
Due: none

ci: fix release build step
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: npm run format

build: update angular to v14
  angular.json
  package-lock.json
  package.json
  projects/ngx-auth-utils/tsconfig.lib.json
  tsconfig.json
Due: npm run format

build: update angular to v14 (#29)
  angular.json
  package-lock.json
  package.json
  projects/ngx-auth-utils/tsconfig.lib.json
  tsconfig.json
Due: npm run format

fix(fix build): remove wrong argument passed to ng build
  package-lock.json
  package.json
Due: npm run format

fix(fix build): remove wrong argument passed to ng build (#30)
  package-lock.json
  package.json
Due: npm run format

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  05734cf5b82fd744f0a1b5dcdaea141288fd0655
Due: none

feat(bump version 14): upgrade to angular 14
  README.md
Due: npm run format

chore(release): 14.0.0 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  2e1a4471a3498308df49645a09712e09ea161550
Due: none

chore: use eslint to lint when commiting
  .lintstagedrc
Due: none

chore: add prettier ignore
  .prettierignore
Due: none

ci: change semantic release plugin order
  .releaserc
  package-lock.json
  package.json
Due: npm run format

feat: add can match functionality to auth guards
  projects/ngx-auth-utils/src/lib/guards/auth-user-predicate.guard.spec.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user-predicate.guard.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user.guard.spec.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user.guard.ts
Due: npm run format, npm run lint

Add CanMatch predicate (#32)
  .lintstagedrc
  .prettierignore
  .releaserc
  package-lock.json
  package.json
  projects/ngx-auth-utils/src/lib/guards/auth-user-predicate.guard.spec.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user-predicate.guard.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user.guard.spec.ts
  projects/ngx-auth-utils/src/lib/guards/auth-user.guard.ts
Due: npm run format, npm run lint

feat(app configuration): remove authorization header strict prefix, can now be any string
  package-lock.json
  package.json
  projects/ngx-auth-utils/package.json
  projects/ngx-auth-utils/src/lib/ngx-auth-utils.module.ts
Due: npm run format, npm run lint

feat(app configuration): remove authorization header strict prefix, can now be any string (#33)
  package-lock.json
  package.json
  projects/ngx-auth-utils/package.json
  projects/ngx-auth-utils/src/lib/ngx-auth-utils.module.ts
Due: npm run format, npm run lint

chore(release): 14.1.0 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  ba19abd2a43399d01a467c16035a17371bb30012
Due: none

fix(fix required angular version): fix required angular version
  projects/ngx-auth-utils/package.json
Due: npm run format

fix(fix required angular version): fix required angular version (#34)
  projects/ngx-auth-utils/package.json
Due: npm run format

chore(release): 14.1.1 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  9f7a03e99b5eba00fb17db5c18eb9646487e2378
Due: none

fix: fix auth expired interceptor unauthorized url blacklist match
  projects/ngx-auth-utils/src/lib/interceptors/auth-expired.interceptor.ts
Due: npm run format, npm run lint

fix: change interceptor unauthorized url blacklist match (#45)
  projects/ngx-auth-utils/src/lib/interceptors/auth-expired.interceptor.ts
Due: npm run format, npm run lint

chore(release): 14.1.2 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  76ed2870374500473428ea6e5e3547da92a871af
Due: none

ci: publish maintenance releases
  .github/workflows/continous-integration.yml
  .github/workflows/release.yml
  .releaserc
Due: none

chore(release): 14.0.1 [skip ci]
  CHANGELOG.md
Due: npm run format

Notes added by 'git notes add'
  db532807be065942123c36649a644b6155af97e6
Due: none

docs: update README.md
  README.md
Due: npm run format

fix: add project moved disclaimer
  README.md
Due: npm run format

fix: blacklist url parsing
  projects/ngx-auth-utils/src/lib/interceptors/auth-expired.interceptor.ts
Due: npm run format, npm run lint

fix: readme
  README.md
Due: npm run format

Path conditions:
  npm run format: any of: *.{css,md,js,ts,json}
  npm run lint: any of: *.{js,ts}
